# virtual env ignored
venv
environment

#login key for firebase 
the-chat-44e8e-firebase-adminsdk-fbsvc-7f501ef3f6.json

# byte codes 
__pycache__


#api key
api_key.py

# users data that was analyzed for testing ONLY
Analysed_Files_data

stock-data

# test folder containing all the code
test