services:

  # fetched compose used to run fetch script to fetch all the data for the stocks
  fetcher:
    build: ./Stock_Automation/DATA_COLLECTION_DOCKER
    environment:
      BASE_DIR: /app
    volumes: # change the vol when needed , when the data need to be added into a specific location of the system
      - /home/saifmk10/AGENT-DATA/Stock-Data:/app/Data_collection_automation/Analysed_Files_data
    command: python run.py

  #analyzer compose used to run the data analysis and also the gmail subscription automation
  analyzer:
    build: ./Stock_Automation/ANALYSIS_GMAIL_DOCKER
    environment:
      BASE_DIR: /app
    volumes:
      - /home/saifmk10/AGENT-DATA/Stock-Data:/app/Data_collection_automation/Analysed_Files_data
    command: python gmailSubscription.py
   
  # runs the ollama model from where he anaylyzed access the data form the 
  ollama:
    image: ollama/ollama
    volumes:
      - ollama-data:/root/.ollama
    restart: unless-stopped 

volumes:
  ollama-data:
