services:

  # fetched compose used to run fetch script to fetch all the data for the stocks
  fetcher:
    build: ./Stock_Automation/DATA_COLLECTION_DOCKER
    environment:
      BASE_DIR: /app
      DOCKER_PATH: /app/Data_collection_automation/Analysed_Files_data
    volumes: # change the vol when needed , when the data need to be added into a specific location of the system
      - /home/saifmk10/AGENT-DATA/Stock-Data:/app/Data_collection_automation/Analysed_Files_data
    command: python run.py
    restart: unless-stopped




  #analyzer compose used to run the data analysis and also the gmail subscription automation
  # analyzer:
  #   build: ./Stock_Automation/ANALYSIS_GMAIL_DOCKER
  #   environment:
  #     BASE_DIR: /app
  #     DOCKER_PATH: /app/Data_collection_automation/Analysed_Files_data
  #   volumes:
  #     - /home/saifmk10/AGENT-DATA/Stock-Data:/app/Data_collection_automation/Analysed_Files_data
  #   command: python -m run


  daily-analysis :
    build: 
      context: ./Stock_Automation/ANALYSIS_GMAIL_DOCKER
      args:
        REQUIREMENT_FILE: REQUIREMENTS/daily-analysis.txt
    environment:
      BASE_DIR: /app
      DOCKER_PATH: /app/Data_collection_automation/Analysed_Files_data
    volumes:
      - /home/saifmk10/AGENT-DATA/Stock-Data:/app/Data_collection_automation/Analysed_Files_data
    command: python -m runDailyAnalysis



  analyzer-message:
    build: ./Stock_Automation/ANALYSIS_GMAIL_DOCKER
    environment:
      BASE_DIR: /app
      DOCKER_PATH: /app/Data_collection_automation/Analysed_Files_data
    volumes:
      - /home/saifmk10/AGENT-DATA/Stock-Data:/app/Data_collection_automation/Analysed_Files_data
    command: python -m runMessage



  # runs the ollama model from where he anaylyzed access the data form the 
  ollama:
    image: ollama/ollama
    volumes:
      - ollama-data:/root/.ollama
    restart: unless-stopped 



  # this will run the localhost:1555 , and then itll be used to activate the tunnel to make the api accessable publicly
  fast-api:
    build : ./Stock_Automation/API_ENDPOINTS_DOCKER
    restart: unless-stopped
    ports:
      - "1555:1555"






volumes:
  ollama-data:
